<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://steemit.com/@syarrf"><span class="glyphicon glyphicon-user"></span> my page</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Komunitas <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://steemit.com/created/arkindonesia"></a>ARK-Indonesia</li>
            <li><a href="https://steemit.com/created/arkecosystem">Arkecosystem</a></li>
            <li><a href="https://steemit.com/created/jabotabek">Jabotabek</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://steemit.com/@jarunik"></span> Rekan</a>
      </li>
    </ul>
  </div>
</nav>
