<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>selamat datang kawan</h1>
    <p> </p>
    <a type="button" class="btn btn-lg btn-default" href=""><span class="glyphicon glyphicon-flash"></span> </a>
    <a type="button" class="btn btn-lg btn-primary" href=""><span class="glyphicon glyphicon-download"></span> </a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
      <a href="" class="alert-link"></a> .
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> </h3>
      
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> </h3>
      
      
      <h3><span class="glyphicon glyphicon-link"></span> </h3>
      
    </div>
    
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    <div class="container" id="content"><br/>
    		<h4>Submit a post to the Steem blockchain</h4>
            Username: <input id="username" type="text" size="65" class="form-control"><br/>
            Posting private key: <input id="postingKey" type="password" size="65" class="form-control"><br/>
            Title of post: <input id="title" type="text" size="65" class="form-control" value="Here goes title"><br/>
            Post body:<br/>
            <textarea id="body" class="form-control" rows="3">Content of the post</textarea><br/>
            Tags: <input id="tags" type="text" size="65" class="form-control" value="tag1 tag2 tag3"><br/>
            <input id="submitPostBtn" type="button" value="Submit post!" onclick="submitPost()" class="btn btn-primary">
            <div id="postLink" style="display: none;">
            </div>
</div>
  </div>
</div>


</body>
</html>
